{{define "title"}}首页{{end}}
{{define "css"}}index{{end}}
{{define "js"}}index{{end}}
{{template "layout/site.html" .}}
{{define "content" }}
<div class="blank2"></div>
    <div class="player zindex0 pr" id="player">
        <a id="play_l" class="play_b"></a>
        <div class="wapper player">
            <ul id="playerbox">
                {{ range $ad :=.ads}}
                <li><a href="{{$ad.Url}}"><img src="/upload/ad/{{$ad.Id}}.jpg" alt="{{$ad.Id}}" width="960" height="315"/></a></li>
                {{end}}
            </ul>
        </div>
        <a id="play_r" class="play_b"></a>
    </div>
    <div class="blank20"></div>
    <div class="titico tit_new wapper"><a class="more" href="/list/">更多</a></div>
    <div class="wapper">
        <ul class="cake_list">
            {{ range $shop :=.newest}}
            <li>
                <a href="/shop/{{$shop.Ename}}" ><img src="/upload/{{$shop.Cover }}" width="308" height="278"/></a>
                <div class="cakedesc">
                    <p class="bigfs fs22 mt20"><font class="oc">￥{{$shop.Price }}元</font></p>
                    <a href="/shop/{{$shop.Ename}}" class="bigfs fs14">{{$shop.Ename }} {{$shop.Name }}</a>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
    <div class="blank10"></div>
    <div class="titico tit_tuijian wapper"><a class="more" href="/recomm/">更多</a></div>
    <div class="wapper">
        <ul class="cake_list">
        {{ range $shop :=.recomm}}
            <li>
                <a href="/shop/{{$shop.Ename}}" ><img src="/upload/{{$shop.Cover }}" width="308" height="278"/></a>
                <div class="cakedesc">
                    <p class="bigfs fs22 mt20"><font class="oc">￥{{$shop.Price }}元</font></p>
                    <a href="/shop/{{$shop.Ename}}" class="bigfs fs14">{{$shop.Ename }} {{$shop.Name }}</a>
                </div>
            </li>
            {{end}}
        </ul>
    </div>
    <div class="blank10"></div>


{{end}}}
